<section class="two-col">
    <div class="flex">
        <div class="two-col-p1 w-50" >
            {% if  section.settings.main_image != blank %}
                <img src="{{ section.settings.main_image | img_url: 'large'}}" alt="{{ section.settings.main_image.alt }}" class="img-w100" data-aos="fade-in"
                data-aos-duration="1500">
            {% else %}
                {{ 'lifestyle-1' | placeholder_svg_tag: 'img-w100' }}
            {% endif %}

        </div>
        <div class="two-col-p2 w-50">
            <div class="two-col-p2-content">
                <h2 class="title">{{ section.settings.title }}</h2>
                {{ section.settings.text }}
                <div class="btn-r">
                    <a href="{{section.settings.page.url}}" class="btn-left">{{ section.settings.btn_title }}</a>
                </div>
            </div>
        </div>
    </div>

</section>

{% schema %}
{
   "name": "Two column section",
  "settings": [
    {
       "type": "image_picker",
       "id" : "main_image",
       "label": "Image"
    },
    {
       "type": "text",
       "id": "title",
       "label": "Title of the section",
       "default": "Meet behind the scenes"
    },
    {
       "type": "richtext",
       "id": "text",
       "label": "Text area"

    },

    {
        "type": "text",
        "id": "btn_title",
        "label": "Title of the button",
        "default": "Read more"
    },
    {
        "type": "page",
        "id": "page",
        "label": "Link of the button to a specific page"
      }
      
  ],
  "presets": [
      {
          "name": "Two column section"
      }
  ]
}
{% endschema %}
